ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: black;
}

.search-form {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-top: 36px;  
}

.search-input {
  min-width: 272px;  
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  padding-left: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.search-field:hover {
  border-color: black;
}

.search-btn {
  background-color: #4E75FF;
  min-width: 91px;
  min-height: 40px;
  border-radius: 8px;
  border: none;
  color: white;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.search-btn:hover {
  background-color: #6C8CFF;
}

.images-list {
  justify-content: center;
  margin: 0;
  padding: 0;  
  display: grid;
  grid-template-columns: 360px 360px 360px 360px;
  grid-template-rows: 250px 250px 250px 250px;
  grid-gap: 24px;
  margin-top: 32px;
}

.images-item { 
  border: 1px solid #808080;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.images-titels {
  display: flex;
  gap: 24px;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  text-align: center;
}

.load-more {
  background-color: #4E75FF;
  min-width: 91px;
  min-height: 40px;
  border-radius: 8px;
  border: none;
  color: white;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin: 0 auto;
  display: block;
  visibility: hidden;
  margin-top: 32px;
}

.load-more:hover {
  background-color: #6C8CFF;
}

.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
}

.loader::after,
.loader::before {
  content: '';
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: rotation 2s ease-in-out infinite;
}

.loader::after {
  border-color: #FF3D00;
  animation-delay: 1s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}